[paths]
# Configure the paths to the backend software here
# e.g., dipha=/home/myHome/dipha
# do not forget to chmod +x on unix bases systems

dipha=

hera_wasserstein_dist=

perseus=C:\Users\Glasdale\jmlr_2019\IG_perseus\perseusWin.exe
